ul {
	list-style-type: none;
}

li {
	display: inline-block;
}

input[type="checkbox"][id="ac"] {
	display: none;
}

label {
	border: 1px solid #fff;
	padding: 8px;
	display: block;
	position: relative;
	margin: 10px;
	cursor: pointer;
}